<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flower.fruit.shop.dao.GoodsDao">
	<resultMap id="goodsMap" type="Goods" >
		<id property="g_id" column="g_id"/>
		<result property="g_title" column="g_title"/>
		<result property="g_price" column="g_price"/>
		<result property="g_parameter" column="g_parameter"/>
		<result property="g_recommend" column="g_recommend"/>
		<result property="g_view" column="g_view"/>
		<result property="g_status" column="g_status"/>
		<collection property="ltMage" ofType="flower.fruit.shop.domain.Images">
			<id property="im_id" column="im_id"/>
			<result property="pathName" column="pathName"/>
			<result property="g_id" column="g_id"/>
		</collection>
	</resultMap>
	
	<insert id="publishGoods" parameterType="Goods">
		insert into goods(g_id,g_title,g_parameter,g_price,g_recommend,g_view,g_status) 
		         values(#{g_id},#{g_title},#{g_parameter},#{g_price},#{g_recommend},#{g_view},#{g_status})
	</insert>
	
	<select id="selectGoodsByHot" resultMap="goodsMap">
		select * from goods g,images i where g.g_id = i.g_id and g.g_status = 1 order by g.g_view limit 5
	</select>
	
	<select id="selectGoodsByNew" resultMap="goodsMap">
		select * from goods g,images i where g.g_id = i.g_id and g.g_status =3 order by g.g_view limit 8
	</select>
	
	<select id="selectGoodsForManage" resultMap="goodsMap">
		select * from goods g,images i where g.g_id = i.g_id 
	</select>
	
	<select id="selectGoodsById" parameterType="String" resultMap="goodsMap">
		select * from goods g,images i where g.g_id = i.g_id and g.g_id=#{g_id}
	</select>
	
	<update id="alterGoods" parameterType="Goods">
		update goods set g_title=#{g_title},g_parameter=#{g_parameter},g_recommend=#{g_recommend},g_status=#{g_status},g_price=#{g_price} where g_id = #{g_id}
	</update>
	
</mapper>